<mat-toolbar color="primary">
  <mat-icon class="toolbar-eco">eco</mat-icon>
  <a routerLink="/" class="toolbar-brand">{{ title }}</a>
  <span class="toolbar-nav-gap"></span>
  <a mat-button routerLink="/">
    <mat-icon>add_photo_alternate</mat-icon>
    Upload
  </a>
  <a mat-button routerLink="/designer" class="nav-designer">
    <mat-icon>brush</mat-icon>
    Designer
  </a>
  <a mat-button routerLink="/gallery">
    <mat-icon>grid_view</mat-icon>
    Gallery
  </a>
</mat-toolbar>

<div class="main-content">
  <router-outlet />
</div>
